[Unit]
Description="update dotfiles"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/bin/update-dotfiles.sh
